@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Barlow', sans-serif;
}

.header {
  width: 100%;
  height: 50rem;
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 36px;
}

@media (max-width: 39.9375em) {
  .header__menu-container {
    padding: 25px;
  }
}

.header__menu-container .logo {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  width: 185px;
  height: 36px;
}

@media (max-width: 39.9375em) {
  .header__menu-container .logo {
    width: 129px;
    height: 25px;
  }
}

.header__menu-container .links a {
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__menu-container .links a:not(:last-child) {
  margin-right: 50px;
}

.header__menu-container .links a:hover {
  background-color: white;
  color: black;
}

@media (max-width: 63.9375em) {
  .header__menu-container .links {
    display: none;
  }
}

.header__menu-container .hamburger-menu {
  width: 28px;
  height: 28px;
  padding-top: 4px;
}

@media (min-width: 64em) {
  .header__menu-container .hamburger-menu {
    display: none;
  }
}

.header__menu-container .hamburger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
}

.header__menu-container .hamburger-menu span:not(:last-child) {
  margin-bottom: 5px;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 100px;
}

.header__content h1 {
  font-size: 4rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

@media (max-width: 39.9375em) {
  .header__content h1 {
    font-size: 2.5rem;
  }
}

.header__content .arrow {
  position: absolute;
  top: 124px;
  width: 50px;
  height: 155px;
  background-image: url("../../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 39.9375em) {
  .header__content .arrow {
    background-size: 30px;
    top: 166px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 39.9375em) {
  .hero {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero .content2 .learn-more::before {
  background-color: #fe7867;
}

.hero__items {
  width: 50%;
  height: 565px;
}

.hero__content {
  background-color: white;
  padding: 110px 80px 110px 115px;
}

.hero__content h2 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 30px;
}

.hero__content .text {
  color: #818498;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 33px;
}

.hero__content .learn-more {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.hero__content .learn-more:hover::before {
  opacity: 1;
}

.hero__content .learn-more::before {
  content: '';
  position: absolute;
  top: 14px;
  left: -8px;
  opacity: 0.5;
  width: 123px;
  height: 10px;
  border-radius: 3px;
  background-color: #fad400;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.hero .transform {
  background-image: url("../../images/desktop/image-transform.jpg");
}

.hero .standout {
  background-image: url("../../images/desktop/image-stand-out.jpg");
}

.hero .Graphic {
  background-image: url("../../images/desktop/image-graphic-design.jpg");
}

.hero .Graphic .title, .hero .Graphic .text {
  color: #25564b;
}

.hero .Photography {
  background-image: url("../../images/desktop/image-photography.jpg");
}

.hero .Photography .title, .hero .Photography .text {
  color: #19536b;
}

.hero .Graphic, .hero .Photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero .Graphic .info, .hero .Photography .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 206px;
}

.hero .Graphic .info .title, .hero .Photography .info .title {
  font-family: 'Fraunces', serif;
  font-size: 36px;
  font-weight: 900;
}

.hero .Graphic .info .text, .hero .Photography .info .text {
  text-align: center;
  font-size: 20px;
  max-width: 431px;
}

.hero__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/*# sourceMappingURL=style.css.map */